/* ==========================================================================
  c-content-area
   ========================================================================== */

.c-content-area {
  background: #FFF;
  flex: 1 1 auto;
  overflow: scroll;
  height: 100%;
}
