/* ==========================================================================
  c-segmented-control
   ========================================================================== */

.c-segmented-control {
  width: 100%;
  display: flex;
}

.c-segmented-control__item--stretch {
  flex: 1 0 auto;
}

.c-segmented-control__item a {
  flex: 1 0 auto;
  display: block;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: #333;
  background: #DDD;
  border: 1px solid #FFF;
}

.c-segmented-control__item--active a {
  background: #EEE;
}

.c-segmented-control__item + .c-segmented-control__item a {
  border-left: none;
}