/* ==========================================================================
   c-scroll-context
   ========================================================================== */

.c-scroll-context {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.c-scroll-context > * {
  flex: 0 1 auto;
}

@media (min-width: 900px){

  html, body {
    background: #666;
  }

  body {
    display: flex;
  }

  .c-scroll-context {
    position: relative;
    height: 64rem;
    width: 37.5rem;
    margin: auto;
  }

}
