/* ==========================================================================
  c-toggle-list
   ========================================================================== */

.c-toggle-list {
  padding: 1rem 0;
}

.c-toggle-list > li {
  padding: 1rem 0;
  display: flex;
}

.c-toggle-list .c-toggle {
  margin-right: 1rem;
}