/* ==========================================================================
   Global variables
   Prefixed with $g-
   ========================================================================== */

$g-heading-color: #000;
$g-text-color: #333;
$g-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;