/* ==========================================================================
  c-segmented-control-radio
  ---
  Used for radios, for link style behavior use c-segmented-control-radio
   ========================================================================== */

/* Variables
   ========================================================================== */

$c-segmented-control-radio-bg-color: #DDD !default;

/* Component
   ========================================================================== */

.c-segmented-control-radio {
  width: 100%;
  display: flex;
}

.c-segmented-control-radio li {
  flex: 1 0 auto;
}

.c-segmented-control-radio__item label {
  display: block;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: #333;
  background: $c-segmented-control-radio-bg-color;
  border: 0.1rem solid #CCC;
  border-right: none;
  &:hover,
  &:focus {
    background: lighten($c-segmented-control-bg-color, 10%);
  }
  &:active {
    background: darken($c-segmented-control-bg-color, 10%);
  }
}

.c-segmented-control-radio__item--active label {
  background: #FFF;
}

.c-segmented-control-radio__item input {
  opacity: 0;
  width: 0;
  appearance: none;
}

.c-segmented-control-radio__item:first-child label {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.c-segmented-control-radio__item:last-child label {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  border-right: 0.1rem solid #CCC;
  @media (-webkit-min-device-pixel-ratio: 1.3) {
    border-right-width: 0.05rem;
  }
}
